<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Ash's first web site
    </div>
</footer>
<script src="/javascripts/functions.js" defer></script>
<script src="/javascripts/index.js" defer></script>
