body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#userInfoContainer, #nonFriendsUsersContainer, #postsContainer, #onlinesContainer{
  min-height: 250px;
  outline: 1px solid black;
}

#nowOnlinesContainer section{
  position: relative;
  height: 50px;
  margin-top: 10px;
  padding-left: 50px;
  box-sizing: border-box;
  background-color: gray;
}

#nowOnlinesContainer .onlineUserImage{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#nowOnlinesContainer .onlineUserIcon{
  position: absolute;
  top: 35px;
  left: 35px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}