body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#userInfoContainer, #nonFriendsUsersContainer, #postsContainer, #onlinesContainer{
  min-height: 250px;
  outline: 1px solid black;
}